#TodoList {
    font-size: 1.1rem;
}
#TodoList .name {  
    font-weight: 500;
}

#TodoList i {
    margin-left: 1.5rem ;
}
.fa-trash {
    color: black;
}
.fa-check {
color: green;
}
.cp {
    cursor: pointer;
}
.completed {
    color: black; 
    text-decoration: line-through;
}
